body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f7f7f7;
}

h2 {
    color: #000000;
    margin-top: 20px;
}

#contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tarjeta {
    background-color: #d3f4f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    max-width: 100%;
    height: auto;
    margin: 10px;
    text-align:left; 
    box-sizing: border-box;
    transition: transform 0.3s ease;
    overflow: hidden;
    word-wrap: break-word;

}

.tarjeta:hover {
    transform: scale(1.03);
}

.tarjeta p {
    font-size: 16px;
    color: #4f4e4e;
    margin: 8px 0;
}

.tarjeta strong {
    color: #054d63;
}

input{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #d9f5f5;
    border: 2px solid #000;
}

.busqueda{
    margin-bottom: 10px;
    padding: 20px;
}
.buscar{
    background: #fff;
}

.lupa{
    font-size: 20px;
    background: transparent;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.lupa:hover{
    transform: scale(1.20);
}

.lang{
    margin-left: 10px;
    background: #074b88;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border: none;
    color: #fff;
    font-size: 16px;
}

.lang:hover{
    background: #6cb6ee;
    color:#000;
    transform: scale(1.03);
}

label{
    font-weight: bold;
    margin-left: 10px;
}

select{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #d9f5f5;
    border: 2px solid #000;
}

option{
    width: 2000px;
    padding: 10px;
    border-radius: 10px;
    background: #d9f5f5;
    border: 2px solid #000;
}

.ver{
    border: none;
    background: transparent;
    color: red;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.ver:hover{
    transform: scale(1.05);
    color: #ffb700;
}
